[user]
	name = Timothy Gu
	email = timothygu99@gmail.com
	signingkey = 7FE6B095B582B0D4!
[push]
	default = simple
[commit]
	gpgsign = true
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = timothygu99@gmail.com
	smtpserverport = 587
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "git@gitlab.freedesktop.org:"]
	pushInsteadOf = https://gitlab.freedesktop.org/
[url "aur@aur.archlinux.org:"]
	pushInsteadOf = https://aur.archlinux.org/
[http]
	cookiefile = /home/timothy-gu/.gitcookies
	# proxy = http://user:pass@localhost:10000
[pull]
	rebase = false
[init]
	defaultBranch = main
